[user]
	name = Davorin Šego
	email = davorin.sego@gmail.com
	
[core]
	editor = kak
	excludesfile = /home/davorin/.gitignore

[color]
	ui = auto

[alias]
	co = checkout
	br = branch
	ci = commit
        cp = cherry-pick
	st = status
    ll = log --pretty=format:'%C(magenta)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset'
    lg = log --graph --pretty=format:'%C(magenta)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[cola]
	spellcheck = false
[credential]
	helper = store
